.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

#heart {
    color: #e25555;
}

#currencyCardWrapper {
    margin-top: 5%;
    width: 65%;
}

.currency-flag {
    margin-right: 3px
}

.selectCurr, .inputAmount{
    width: 100%;
    height: 38px;
}

.rowSelectCurr{
    margin-bottom: 10px;
}

/* Full width dropdown bootstrap buttons
https://github.com/react-bootstrap/react-bootstrap/issues/1985#issuecomment-493501161
 */
.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}


.btn-outline-info {
  color: #fff;
  border-color: #0abf53;
}
.btn-outline-info:hover {
  color: #E1E9F8;
  border-color: #0abf53;
}
#dropdown-flags {
    color: #000;
}


/* Display currency symbol withouth altering raw int value
https://stackoverflow.com/a/52784528/8970591
 */
.currencySymbol{
    position: absolute;
    margin-left: 15px;
    margin-top: 7.5px;
}

.inputAmount{
    padding-left: 2em;
}
